<div class="customer-shell">
  <header class="customer-navbar">
    <div class="customer-brand-wrapper">
      <svg class="brand-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
      </svg>
      <span class="customer-brand">{{ 'app_title' | translate }}</span>
    </div>
    <nav class="customer-nav">
      <a routerLink="/cars" routerLinkActive="active" class="customer-nav-link">
        {{ 'nav_cars' | translate }}
      </a>
      <a routerLink="/orders" routerLinkActive="active" class="customer-nav-link">
        {{ 'nav_orders' | translate }}
      </a>
      <a routerLink="/installments" routerLinkActive="active" class="customer-nav-link">
        {{ 'nav_installments' | translate }}
      </a>
    </nav>
    <div class="customer-controls">
      <button class="control-btn" (click)="toggleLanguage()">
        {{ languageLabel() | translate }}
      </button>
      <button class="control-btn" (click)="toggleTheme()">
        {{ themeLabel() | translate }}
      </button>
      <button class="control-btn customer-logout-btn" (click)="logout()">
        {{ 'auth_logout' | translate }}
      </button>
    </div>
  </header>
  <main class="customer-content">
    <ng-content></ng-content>
  </main>
  <app-toast></app-toast>
</div>
